Source: libnet
Maintainer: Michael Alan Dorman <mdorman@debian.org>
Standards-Version: 0.1

Package: libnet
Architecture: any
Depends: perl (>=5.003), io
Description: Implementation of Internet protocols for Perl
 libnet contains Perl implementations of the following protocols:
 Net::FTP (RFC959), Net::SMTP (RFC821), Net::Telnet (RFC854),
 Net::Time (RFC867 & RFC868), Net::NNTP (RFC977), Net::POP3 (RFC1939),
 Net::SNPP (RFC1861)
 It also contains various utility functions for implementing new
 protocols.
