#!/usr/bin/make -f

package=libnet

tmpdir = $(shell pwd)/debian/tmp
instdirs = $(tmpdir) \
	$(tmpdir)/DEBIAN \
	$(tmpdir)/usr/doc/libnet \
	$(tmpdir)/usr/lib/perl5/Net \
	$(tmpdir)/usr/man/man3

build:
	$(checkdir)
	perl Makefile.PL INSTALLDIRS=perl
	$(MAKE)
	touch build

clean:
	$(checkdir)
	-rm -f build
	-$(MAKE) -i distclean
	-rm -rf *~ debian/tmp debian/*~ debian/files*

binary-indep:	checkroot build $(instdirs)
	$(checkdir)
	dpkg-gencontrol >$(tmpdir)/DEBIAN/control
	$(MAKE) PREFIX=$(tmpdir)/usr pure_install
	cp debian/copyright $(tmpdir)/usr/doc/$(package)/copyright
	chown -R root.root $(tmpdir)
	chmod -R g-ws $(tmpdir)
	dpkg --build $(tmpdir) ..

binary-arch:  checkroot build
	$(checkdir)

define checkdir
	test -f debian/rules
endef

# Below here is fairly generic really

binary:		binary-indep binary-arch

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary source diff clean checkroot

zapdirs:
	-rm -rf $(tmpdir)

$(instdirs): zapdirs
	install -d -m 755 $@
	chmod g-s $@
